{{#if sine}}
<h3>Sine Wave</h3>
<h4>Harmonic Content: 1</h4>
<h5>(purest form of a soundwave)</h5>
<p><strong>Note:</strong> Filter modifications will have little to no affect on sine waves as they have no additive harmonics</p>
{{else if triangle}}
<h3>Triangle Wave</h3>
<h4>Harmonic Content: 25</h4>
<p>Great for soft, flute-like sounds</p>
{{else if square}}
<h3>Square Wave</h3>
<h4>Harmonic Content: 25</h4>
<p>Ideal for hollow, eerie, woodwind-like sounds</p>
{{else if sawtooth}}
<h3>Sawtooth Wave</h3>
<h4>Harmonic Content: 50</h4>
<h5>(most complex structure of basic soundwaves)</h5>
<p>Goto for scifi pads, bowed string sounds, brass, &amp; general grittiness</p>
{{/if}}

{{!-- {{else if triangle}}
<h3>Triangle Wave</h3>
{{else if square}}
<h3>Square Wave</h3>
{{else if sawtooth}}
<h3>Sawtooth Wave</h3> --}}